.menu-item {
    padding: 16px;
    font-size: 1.2rem;
}

.group-list-title {
    font-size: 1.2rem;
}

.list-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group-list-table {
    width: 100%;
}

.group-list-table-id, .group-list-table-name, .group-list-table-year {
    width: 30%;
}

.group-list-table-modify {
    width: 5%;
}

.group-list-table-remove {
    width: 5%;
}

.create-modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.create-modal-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.custom-label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    word-break: break-word;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
}